input {
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 5px 16px;
  }

  button {
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 4px 16px;
  }

  button:hover {
    background-color: violet;
    color: white;
    cursor: pointer;
  }

  li{
      margin-right: 8px;
  }

  .input-area {
    background-color: aqua;
    width: 400px;
    padding: 7px;
    margin: 8px;
    border-radius: 8px;
  }

  .incomplete-area {
    background-color: lightgreen;
    width: 400px;
    min-height: 200px;
    padding: 5px;
    margin: 8px;
    border-radius: 8px;
  }

  .complete-area {
    background-color: yellow;
    width: 400px;
    min-height: 200px;
    padding: 5px;
    margin: 8px;
    border-radius: 8px;
  }

  .title {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    color:darkslategrey;
  }

  .list-row {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }